/*
*
*/
.rcw-message > .rcw-response {
    background-color: black !important;
    color: white !important;
}
.sssssrcw-message div p {
    /* animation: type 4s steps(60, end) !important ; */
    /*
    -webkit-transition: opacity 300s ease-in-out !important ;
    -moz-transition: opacity 300s ease-in-out !important ;
    -ms-transition: opacity 300s ease-in-out !important ;
    -o-transition: opacity 300s ease-in-out !important ;
    transition: opacity 300s ease-in-out !important ;
    */
    transition: width 2s, height 2s !important;
    -webkit-transition: width 2s, height 4s !important ;
    transition-delay: 5s !important ;
}
/*   */
.testtt:hover {
    animation-duration: 3s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300% ;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
/*    */
.rcw-widget-container {
    z-index: 9999 !important ;
}
/*
.rcw-widget-container{
    bottom: 30% ;
}
.rcw-launcher {
    width: 150px !important ;
    height: auto !important ;
}
.rcw-launcher .rcw-open-launcher {
    width: 150px !important ;
    height: auto !important ;
}
*/