/*
*
*/
/*
.rcw-message > .rcw-response {
    background-color: black !important;
    color: white !important;
}
*/
.sssssrcw-message div p {
    /* animation: type 4s steps(60, end) !important ; */
    /*
    -webkit-transition: opacity 300s ease-in-out !important ;
    -moz-transition: opacity 300s ease-in-out !important ;
    -ms-transition: opacity 300s ease-in-out !important ;
    -o-transition: opacity 300s ease-in-out !important ;
    transition: opacity 300s ease-in-out !important ;
    */
    transition: width 2s, height 2s !important;
    -webkit-transition: width 2s, height 4s !important ;
    transition-delay: 5s !important ;
}
/*   */
.testtt:hover {
    animation-duration: 3s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300% ;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
/*    */
.rcw-widget-container {
    z-index: 9999 !important ;
    max-width: 450px !important ;
}
.rcw-open-launcher:hover {
  cursor: pointer !important ;
}
/*  */
@media (max-width: 375px) {
  .rcw-widget-container {
    max-width: 375px !important ;
  }
}
/*  */
.ant-carousel .slick-slide {
  text-align: center !important ;
  height: 160px !important ;
  line-height: 160px !important ;
  background: #364d79 !important ;
  overflow: hidden !important ;
}

.ant-carousel .slick-slide h3 {
  color: #fff !important ;
}
/*  */