/*
*
*/
.rcw-message {
  font-size: 17px !important ;
}
/*   */
.testtt:hover {
    animation-duration: 3s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300% ;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
/*    */
.rcw-widget-container {
    z-index: 9999 !important ;
    max-width: 450px !important ;
}
.rcw-open-launcher:hover {
  cursor: pointer !important ;
}
/*  */
@media (max-width: 375px) {
  .rcw-widget-container {
    max-width: 375px !important ;
  }
}
/*  */
.ant-carousel .slick-slide {
  text-align: center !important ;
  height: 160px !important ;
  line-height: 160px !important ;
  background: #364d79 !important ;
  overflow: hidden !important ;
}

.ant-carousel .slick-slide h3 {
  color: #fff !important ;
}
/*  */
.waiboc-msg-carousel {
  width: 380px ;
}
.waiboc-msg-carousel .waiboc-arrow {
  z-index: 9999 ;
  font-size: 30px ;
  position: relative ;
  color: white ;
  opacity: 0.5 ;
  top: 90px !important ;
}
.waiboc-msg-carousel .waiboc-arrow:hover {
  opacity: 1 !important ;
}
.waiboc-msg-carousel i.waiboc-arrow.waiboc-arrow-left {
  left: 10px  !important ;
}
.waiboc-msg-carousel i.waiboc-arrow.waiboc-arrow-right {
  right: -310px !important ;
}
/*  */
@media (max-width: 375px) {
  .waiboc-msg-carousel {
    width: 330px ;
  }
  .waiboc-msg-carousel i.waiboc-arrow.waiboc-arrow-right {
    right: -260px !important ;
  }
}
/*  */